.input-in {
    width: 25%;
}

.hidden {
    display: none;
}

#main
{
    width: 450px;
    height: 250px;
    position:absolute;
    left: 0px;
}

.side {
    position: absolute;
    left: 450px;
    width: 350px;
    height: 250px;
}

.bigDiv
{
    position: relative;
    width: 800px;
    height: 300px;
}